.imgbanner {
    height: 90px;
    background-color: black;
}

.imgbanner img {
    max-height: 90px;
    display: block;
    position: relative;
    margin: 0 auto;
}

main div,
footer {
    background-color: black;

}

main div img {
    max-height: 400px;
    background-color: black;

}

.contenedorTexto {
    background-color: #262626;
    color: white;
    width: 50%;
    padding: 3%;
}

/* .colores {
    color: #222622;
    color: #262626;
    color: #363636;
    color: #67736E;
    color: #677367;
} */

body {
    background-color: #222622;
}

.black {
    background-color: #1D1D1D;
    padding: 3%;
}

footer ul li {
    padding: 15px;
    list-style: none;
}

footer ul li a {
    color: white;
}

.overflow {
    overflow: hidden;
    margin: 0;
    padding: 0;

}

aside {
    background-color: #1D1D1D;
}